.donation {
  width: 100%;
  height: 100%;
}
.dHeader {
  max-width: 1440px;
  width: 100%;
  margin: 4em auto;
}

.dHeader h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
  margin: 0 0 2em;
  width: 538px;
}

.dHeader h2 span {
  color: #0099ff;
}

.input {
  width: 90%;
  height: 80px;
  background: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1.5em;
  margin-bottom: 4em;
}
.dIcon {
  width: 50px;
  font-size: 30px;
}
.input input {
  height: 100%;
  width: calc(100% - 50px);
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  color: #000000;
}
.input input::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  color: #000000;
}

.region {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.location {
  margin-right: 2em;
}

.location p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 15px;
  color: #000000;
  margin: 0 0 1.5em;
}

.location select {
  width: 190px;
  height: 65px;
  background: #f2f2f2;
  border-radius: 10px;
  padding: 0 0.8em;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 38px;
  /* identical to box height */
  color: #000000;
  outline: none;
}

.bP {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #8c8c8c;
  margin: 2em 0 2em;
}
.rg{
  margin: 4em 0 15%;
}

@media (max-width: 1440px) {
  .dHeader {
    max-width: 95%;
  }


}

@media (max-width: 768px) {
  .dHeader h2{
    width: 100%;
  }

}

@media (max-width: 500px) {
  .dHeader h2{
    margin-bottom: 1em;
  }
  .input {
    width: 50px;
    cursor: pointer;
  }
  .input input{
    display: none;
  }
  .region {
    flex-wrap: wrap;
    width: 100%;
  }
  .location{
    width: 100%;
    margin:  0 2em 1.5em 0 ;
  }
  .location select{
    width: 95%;
  }
  .dCap{
    width: 95%;
  }
  
}
