.faq {
  max-width: 1440px;
  width: 100%;
  margin: 13em auto;
}

.faqqq {
  padding: 0px 10%;
}

.faqqq h2 span {
  color: #0099ff;
}

.faq h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
  margin: 0 0 3em;
}
.question {
  height: 80px;
  background: #f2f2f2;
  border-radius: 10px;
  padding: 0 1.5em;
  margin-bottom: 2em;
  transition: all .3s ease;
  /* margin: 0px 10px; */
}
.show {
  background: #f2f2f2;
  border-radius: 10px;
  padding: 0 1.4em 1em;
  margin-bottom: 2em;
  height: auto;
  max-height: 999px;
  transition: all .3s ease;
}

.quesionTitle {
  /* width: 100%;
  height: 100px;
  background: #f2f2f2;
  border-radius: 10px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  top: 18px;
}

.quesionTitle p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 42px;
  color: #000000;
  margin: 0px;
}

.questionTitle span {
  display: flex;
}

.faqIcon {
  font-size: 40px;
  color: #0099ff;
}

.quesionDesc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #000000;
  display: none;
  transition: all 6s ease;
}
.showText {
   font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  display: block;
  transition: all 6s ease;
  margin-top: 40px;
}

/*
@media (max-width: 1440px) {
  .faq{
    max-width: 95%; 
  }
  /* .show {
    max-width: 90%; 

  }
} */

@media (max-width: 500px) {
  .quesionTitle p{
    font-size: 20px;
  }
  .faqIcon {
  font-size: 30px;
  color: #0099ff;
}
.showText{
    font-size: 18px;

}
}

