.footer {
  height: 100%;
  padding: 5em 2em;
  position: relative;
  background-color: #f2f2f2;
}

.topp {
  width: 100%;
  height: 96px;
  position: absolute;
  top: -12%;
  left: 0;
}
.mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: auto;
  height: 100%;
  padding: 1em 0 6em;
}
.first {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 320px;
}

.mid img {
  width: 220px;
  height: 70px;
}
.first p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 1em;
  color: #000000;
}

.social {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Ficon {
  font-size: 30px;
}

.second {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.second ul p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  margin: 0 0 1em;
  color: #000000;
}
.second ul li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 1em;
  color: #000000;
  list-style: none;
}

.Fbottom  {
  position: absolute;
    bottom: 0%;
    left: 0%;
    height: 128px;
    width: 100%;
}


@media (max-width: 1440px) {
  .mid{
    max-width: 98%;
  }
  
}

@media (max-width: 1100px) {
  .mid {
    flex-wrap: wrap;
  }
  .first {
    width: 400px;
    margin-bottom: 2em;
  }
  .second {
    width: 100%;
    justify-content: space-between;
  }

  .topp {
    top: -9%;
  }

}
@media (max-width: 768px) {
    .second {
      flex-wrap: wrap;
    }
  .second ul{
    padding: 0;
    width: 300px;
  }
  .topp {
    top: -7%;
  }

}
@media (max-width: 768px) {
   
  .topp {
    top: -5%;
  }

}

