@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.main {
  width: 100%;
  height: 100%;
  background: #ffffff;
  padding: 2em 0;
}
.nav {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em auto 2em;
}
.nav img {
  width: 220px;
  height: 70px;
}
.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navLink li {
  list-style: none;
  margin-right: 2em;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  color: #000000;
}
.active li {
  list-style: none;
  margin-right: 2em;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  color: #000000;
}
.navIcon {
  display: none;
}
.close{
  display: none;
}
.con {
  margin-right: 0em !important;
}

.header {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5em auto;
}
.text {
  width: 649px;
  height: 100%;
}
.text h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
  margin: 0 0 0.7em;
}
.text h2 span {
  color: #0099ff;
}
.text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  color: #000000;
  margin: 0 0 1em;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.btn button {
  width: 200px;
  height: 60px;
  background: #0099ff;
  border-radius: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 38px;
  color: #ffffff;
  border: none;
  outline: none;
  margin-right: 1em;
  cursor: pointer;
}

.play {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  border: 2px solid #0099ff;
  cursor: pointer;
}

.icon {
  color: #0099ff;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.headImg {
  width: 512.03px;
  height: 413.55px;
}
.headImg img {
  width: 100%;
  height: 100%;
}

.aboutTop {
  width: 100%;
  height: 150px;
  background: #0099ff;
  display: flex;
  align-items: center;
}

.aboutTopp {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.secCap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
}
.secCap img {
  width: 70px;
  height: 70px;
}
.secText p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 46px;
  margin: 0;
  color: #ffffff;
}
.secText span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}

.about {
  max-width: 1440px;
  width: 100%;
  margin: 6em auto;
}
.about h3 span {
  color: #0099ff;
}
.about h3 {
  width: 389px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #000;
}
.aboutCap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.capCon {
  width: 340px;
  height: 500px;
  background: #f2f2f2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}
.capCon img {
  height: 60px;
  width: 60px;
}
.capCon h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 28px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}

.capCon p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: #000000;
  width: 90%;
}
.capCon a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0099ff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
}
.abtIcon {
  margin-left: 0.4em;
}

/* Media query  */

@media (max-width: 1440px) {
  .nav,
  .header,
  .aboutTopp,
  .about {
    max-width: 98%;
  }
}

@media (max-width: 1200px) {
  .text {
    width: 600px;
  }
  .headImg {
    width: 500px;
  }
  .aboutTop {
    height: 100%;
    padding: 1.5em 0;
  }
  .aboutTopp {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.4em;
  }
  .secCap {
    width: 350px;
  }

  .aboutCap {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .capCon {
    margin-bottom: 2em;
  }
}
@media (max-width: 1024px) {
  .header {
    flex-direction: column;
    padding: 0 2em;
  }
  .text {
    margin-right: auto;
    width: 650px;
  }
  .headImg {
    margin-top: 2em;
    margin-left: auto;
  }
}

@media (max-width: 900px) {
  .navIcon {
    display: block;
    font-size: 30px;
  }
  .navLink {
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: fixed;
    background: #ffffff;
    top: -100%;
    z-index: 11;
    margin: 0;
    transition: all 0.5s ease;
  }

  .active {
  flex-direction: column;
    width: 100%;
    height: 500px;
    position: fixed;
    background: #ffffff;
    top: 0%;
    z-index: 11;
    margin: 0;
    transition: all 0.5s ease;
  }
  .active li {
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  color: #000000;
  margin: 3em 2em 2em 0;
  font-weight: 900;

}
  .container {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    position: fixed;
    height: 100%;
    width: 100%;
    top: -100%;
    margin: 0;
    z-index: 1;
    transition: all 0.5s ease;
  }
  .activee {
   background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 1;
    transition: all 0.5s ease;
    top: 0%;
   
  }
  .close {
    font-size: 30px;
    display: block;
    position: absolute;
    top: 8%;
    right: 13%;
  }
  .text {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 0 .2em;
  }
  .headImg {
    width: 98%;
  }
  .headImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .about h3 {
    width: 98%;
  }
  .capCon{
    width: 90%;
  }
}
